/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.6;
  }

  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */

  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  /*
   * A better looking default horizontal rule
   */

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

  /*
   * Remove default fieldset styles.
   */

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  /*
   * Allow only vertical resizing of textareas.
   */

  textarea {
    resize: vertical;
  }

  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  /* Global Styles */

  html {
    font-size: 16px;
  }

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

  body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    position: absolute;
    height: 5000px;

  }

  p {
    font-size: 1.25rem;
  }


  h1 {
    font-family: 'Nunito-sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #1b1b27;
    width: 100%;
  }

  h2 {
    font-family: 'Alata', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    width: 100%;
  }

  h3 {
    font-family: 'Alata', sans-serif;
    font-size: 1.75rem;
    margin: 0 0 40px 0;
  }

  h4 {
    font-family: 'Alata', sans-serif;
    font-size: 1.5rem;
    margin: 0 0 20px 0;
  }



  span {
    font-weight:700;
    font-size: 1.125rem;
    margin-top: 20px;
  }

  address {
    font-style: normal;
  }

  img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.19);
    transition: .5s ease;
    }

    img:hover{
    opacity:1;
    transition: 1s ease;
    box-shadow: 1px 1px #F0DD64,
      2px 2px #F0DD64,
      3px 3px #F0DD64,
      4px 4px #F0DD64,
      5px 5px #F0DD64,
      6px 6px #F0DD64;
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
      transition: .5s ease;
    }


  figure {

    margin: 20px 0 40px 0;
  }


  #projects,
  #skills {
    width: 100%;
  }

  #projects p,
  #about-section p {
    text-align: left;
    width: 100%;

  }

  .content-wrapper {
    width: 85%;
  }


  /************ Margins and paddings for elements *********/


 .skill,
  .tool {
    background-color: #804253;
    border-radius: 4px;
    padding: 10px;
    font-weight: 400;
    text-transform: uppercase;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.19);
    color:white;
    padding: 15px;
  }


  .skill {
    margin: 20px 0;
  }

  .tool {
    margin-top: 20px;
  }
  .tools-wrapper {
    padding: 0 0 80px 0;
  }




  footer {
    padding:80px 0 60px 0;
  }

  footer h2 {
    margin: 60px 0 30px 0;
  }

  #contact h2 {
    margin:0 0 60px 0;
  }

  .contact-info {
      margin: 0 0 60px 0;
    }

  .contact-info h3 {
    margin: 0 0 30px 0;
  }

  footer .copyright p{
    margin-top: 60px;
  }
     /*************** Header/Footer Base Styles ****************/

  header,
    #about-section,
    #skills,
    #projects,
  footer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
  }

  /*************** Header Styles *****************/
header {
  color: #1b1b27;
  background-color: #F0DD64;
}

header h1 {
  padding: 60px 0 30px 0;
}



nav {
  background-color: #804253;
  padding: 30px 15px;
  width: 100%;
}

a {
  color: #f0dd64;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0;
  margin:0;
}

a:hover {
  text-decoration:underline;
  color: white;
  transition: 0.5s ease;
}

.menu {
  list-style: none;
}

.item.button  {
  background-color:#f0dd64;
  border-radius: 5px;

}

.item.button a{
  color:#804253;
}

.button:hover {
  background-color: #804253;
  opacity:1;
    transition: 1s ease;
    box-shadow: 1px 1px #F0DD64,
      2px 2px #F0DD64,
      3px 3px #F0DD64,
      4px 4px #F0DD64,
      5px 5px #F0DD64,
      6px 6px #F0DD64;
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
      transition: .5s ease;
      border: solid #f0dd64 1px;
}

.item.button a:hover {
  color: #f0dd64;
}


/* Mobile Menu */
.menu {
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items:center;
}

.menu li a {
  display: block;
  padding: 15px;
}



.toggle {
  order: 1;
  font-size: 1.3em;
  margin-right:0;
}

.item.button {
  order: 2;
}

.item {
  order: 3;
  width: 50%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}


/* Social icons */

.icons {
    margin:30px 0 60px 0;
    width:100%
  }

.contact-icons {
  display: flex;
  justify-content: center;
}

  .contact-icons ul {
    width: 75%;
    display: flex;
    justify-content: space-evenly;

  }
  .contact-icons li {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .contact-icons li a {
    transition: 1s ease;
    color: #1b1b27;
      font-size: 2.5rem;
  }

  .contact-icons li a:hover {
    color: #804253;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
  }


  /* Intro */

  /**************** Projects ********************/

  #projects {
    background-color: #804253;
    padding: 60px 0 80px 0;
  }

  #projects h2 {
    text-align: center;
    color: white;
    margin: 0 0 50px 0;
  }

.project-text {
    margin: 0 0 30px 0;
  }

  .project-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: flex-start;
  }

  .single-project {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .single-project h3 {
    font-weight: bold;
    margin-bottom: 40px;
    color: white;
  }

  .single-project figure {
    width: 100%;
  }

  .single-project span {
    font-weight: 700;
  }

  .project-link-button {
    font-size: 1em;
    background-color: #F0DD64;
    padding: 10px;
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1b1b27;
      margin: 40px 0 40px 0;
  }

  .project-link-button:hover {
    background-color: white;
    color: #804253;
  }


  /****************** Skills Section ***************/

  #skills {
    background-color: #F0DD64;
    padding: 60px 0 80px 0;
  }

  #skills h2
   {
    color: #804253;
  }

  #skills h2 {
    margin: 0 0 50px 0;
  }

  #skills h3 {
    margin: 0
  }

  .skills-wrapper {
    padding: 0 0 40px 0;
    margin: 0 0 40px 0;
  }

  .subheader {
    color: #804253;
  }


  /******************* About Section ****************/

  #about-section {
    background-color: #804253;
    padding: 80px 0;
  }

  #about-section .content-wrapper {
    width: 85%;
  }

  .about-me h2 {
    margin: 0 0 40px 0;
  }

  .hobbies p{
    margin-bottom: 20px;
  }

  .resume-button {
   margin-top: 20px;
  }

  .about-me h3 {
    color: white;
  }




  /****************Footer Styles ********************/

  footer {
    color: white;
    background-color: #1b1b27;
  }

  footer h2,
  footer h3,
  footer address,
  footer p,
  footer a
  {
    color: white;
  }

  footer .contact-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  }

  footer .contact-info {
    width: 60%;
    color: white;
  }


  footer a {
    color: white;
  }

  footer a:hover {
    color: #F0DD64;
  }

  footer .social {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;
  }


  footer .social-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: white;
  }

  footer ul {
    width: 100%;
    color: white;
  }

  footer .social-icons li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0 3px 0 3px;

  }

  footer .social-icons li a {
    color: white;
    transition: 1s ease;
    margin: 0 8px;
  }

  footer .social-icons li a:hover {
    color: #F0DD64;
    -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;

  }

  /* Back to Top Button */


.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
  background: none;
  color: #39a3d1;
  font-size: 2.5em;


}

.back-to-top:hover {
  color: white;
}

.hidden {
  opacity: 0%;
}

.back-to-top-icon {
  width: 1rem;
  height: 1rem;
  color: #7ac9f9;
}

.progress-bar {
  height: 1rem;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
}


  /*
  ==========================================================================
     Helper classes
     ========================================================================== */

  /*
   * Hide visually and from screen readers
   */

  .hidden,
  [hidden] {
    display: none !important;
  }

  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */

  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }

  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }

  /*
   * Hide visually and from screen readers, but maintain layout
   */

  .invisible {
    visibility: hidden;
  }

  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */

  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }

  .clearfix::after {
    clear: both;
  }

  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

  @media only screen and (min-width: 700px) {
    /* Style adjustments for viewports that meet the condition */

  /**************************** Tablet Styles *******************************/

  /************ Margins and paddings for Tablet elements *********/

  header {
    padding: 0 0 60px 0;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

.menu {
  justify-content: center;
  flex-flow: row wrap;
}





.item.button {
  display:none;
}



.toggle {
  flex: 1;
  text-align: right;
  order: 2;
}

/* Button up from tablet screen */
.menu li.button a {
  padding: 10px 15px;
}



/* Intro section */

  #intro {
    padding-top: 80px;
  }

  .icons {
    padding-bottom: 80px;
  }

  #projects {
    padding:120px 0 0 0;
  }

  #projects h2 {
    margin: 0 0 40px 0;
  }

  .single-project {
   margin: 0 25px 0 25px;
  }

  .project-text {
    margin: 40px 0 0 0;
  }

  .project-link-button {
    margin: 40px 0 80px 0;
  }

  .project-text {
    margin: 0 0 40px 0;
  }

  #skills {
    padding: 80px 0 120px 0;
  }

  #skills h2 {
    margin: 0 0 40px 0;
  }

  .skills-wrapper,
  .tools-wrapper {
    padding: 30px 40px;
  }



  #about-section {
    padding: 120px 0;
  }

  .about-me h2 {
    margin-bottom: 30px;
  }

  footer {
    padding: 120px 0 80px 0;
  }



  .contact-info {
    margin: 0;
  }


  /* Header */

  header h1 {
    width: 100%;
  }

  header .content-wrapper {
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
  }

  #intro{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  /*************** Main Area ***************/


  /* Projects */


  .project-container {
    justify-content: space-evenly;

  }

  .single-project {
    width: 45%;
    align-items: center;

  }


  /*************** Skills ************/

  #skills .content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .skills-wrapper,
  .tools-wrapper
   {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-flow: row wrap;
  }

  .skill,
  .tool
   {
    width: 40%;

  }

  .skill-header h2 {
    margin-bottom: 40px;
  }


  /************ About Section ***********/

  .about-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  #about-section figure {
    width: 75%;
  }

  .about-me h1 {
    color: white;
  }

  .about-me span {
    font-size: 1.5rem
  }


  /***********Footer**************/
  footer .contact-info {
    width: 33%;

  }

  footer .contact-wrapper {
    display: flex;
    justify-content: space-between;
  }

  }


  @media only screen and (min-width: 960px) {
    /* Style adjustments for viewports that meet the condition */

  /**************************** Desktop Styles *******************************/

  /************ Margins and paddings for elements *********/

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }


.icons {
  padding-top: 60px;

}

  #projects {
    padding: 140px 0 0px 0;
  }

  .single-project {
    padding: 80px 0 80px 0;
  }

  .project-link-button {
    margin: 40px 0;
  }

  #skills{
    padding: 80px 0 140px 0;
  }



  #about-section {
    padding: 120px 0 160px 0;
  }

  .about-me h1 {
    margin: 0 0 40px 0;
  }

  footer {
    padding: 160px 0 140px 0;
  }



  .copyright {
    margin-top: 40px;
  }

  /***********Header***********/

header .content-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
}

  header h2 {
    width: 70%;
    display: flex;
    align-items: center;
    font-size: 2.5em;
  }

/* Desktop Menu */

nav {
  display:flex;
  flex-flow: column wrap;
  align-content: flex-end;
  font-size: 1.5rem;
  padding: 20px;
}

.menu {
  align-items: center;
  flex-wrap: nowrap;
  background: none;
}



.item {
  order: 1;
  position: relative;
  display: block;
  width: auto;
}


.item.button {
  padding: 0;
  order: 2;
  display: block;
}

.toggle {
  display: none;
}




  /************ Projects ************/

  .single-project {
    width: 40%;

  }


  /************ Skills ************/

  .skill,
  .tool {
    width: 30%;
  }

  /************** About *************/

  .about-wrapper{
    justify-content: space-between;

  }

  #about-section figure {
    width: 40%;
    padding-top: 80px;
  }



  #profile-pic img {
    width: 80%;
    padding-top: 20px;
  }

  .about-me-wrapper {
    width: 50%;
  }


  /***************Footer Desktop************/
  footer .content-wrapper {
    max-width: 70%;
  }

  footer .contact-wrapper {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

    }


  }


  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }

  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]::after {
      content: " (" attr(href) ")";
    }

    abbr[title]::after {
      content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }

    pre {
      white-space: pre-wrap !important;
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
  }
